@model FOR_LATEST_ONE.Models.uye

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="container">

    <h2>Üye Detay</h2>
    <hr />


    <div class="card" style="width: 100%;">
        <div class="row">
            <div class="col-md-4"><img width="350" height="400" src="" class="card-img-top" alt="..."></div>
            <div class="col-md-8">
                <div class="row">
                    <div class="col-md-4">
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item">@Html.DisplayNameFor(model => model.uye_ad)</li>
                            <li class="list-group-item">@Html.DisplayNameFor(model => model.uye_soyad)</li>
                            <li class="list-group-item">@Html.DisplayNameFor(model => model.uye_mail)</li>
                            <li class="list-group-item">@Html.DisplayNameFor(model => model.uye_password)</li>
                            <li class="list-group-item">@Html.DisplayNameFor(model => model.uye_yetki)</li>



                        </ul>
                    </div>
                    <div class="col-md-8">
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item">@Html.DisplayFor(model => model.uye_ad)</li>
                            <li class="list-group-item">@Html.DisplayFor(model => model.uye_soyad)</li>
                            <li class="list-group-item">@Html.DisplayFor(model => model.uye_mail)</li>
                            <li class="list-group-item">@Html.DisplayFor(model => model.uye_password)</li>
                            <li class="list-group-item">@Html.DisplayFor(model => model.uye_yetki)</li>

                        </ul>
                    </div>
                </div>

            </div>
        </div>
    </div>

    <br />


    <a href="~/uyes/Edit?id=@Html.DisplayFor(model => model.uye_id)" class="btn btn-success">Düzenle</a> <a href="index" class="btn btn-warning">Geri Git</a>

</div>
