@model IEnumerable<FOR_LATEST_ONE.Models.uye>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-10">
        <h2 style="color:red;">Üyeler Tablosu</h2>
        <hr />

        <!-- Advanced Tables -->
        <div class="panel panel-default">
            <div class="panel-heading">
                Üyeler Tablosu <a style="margin-left:30px;" class="btn btn-success" href="~/uyes/Create">Üye Ekle</a>
            </div>
            <div class="panel-body">
                <div class="table-responsive">
                    <table class="table table-striped table-bordered table-hover" id="dataTables-example">
                        <thead>
                            <tr>
                                <th>
                                    @Html.DisplayNameFor(model => model.uye_ad)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.uye_soyad)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.uye_mail)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.uye_password)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.uye_yetki)
                                </th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr class="gradeU">
                                    <td>
                                        @Html.DisplayFor(modelItem => item.uye_ad)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.uye_soyad)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.uye_mail)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.uye_password)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.uye_yetki)
                                    </td>
                                    <td style="width:100px">
                                        <a class="btn btn-success" href="~/uyes/Edit?id=@item.uye_id ">Düzenle</a>
                                        <a class="btn btn-success" href="~/uyes/Details?id=@item.uye_id ">Detay</a>
                                        <a class="btn btn-success" href="~/uyes/Delete?id=@item.uye_id ">Sil</a>

                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>

            </div>
        </div>
        <!--End Advanced Tables -->
    </div>
</div>


