@model FOR_LATEST_ONE.Models.slider

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<div class="container">

    <h2>Slider Detay</h2>
    <hr />

    <div class="card" style="width: 100%;">
        <div class="row">
            <div class="col-md-4"><img width="350" height="400" src=" @Html.DisplayFor(model => model.slider_url)" class="card-img-top" alt="..."></div>
            <div class="col-md-8">
                <div class="row">
                    <div class="col-md-4">
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item">@Html.DisplayNameFor(model => model.slider_url)</li>
                            <li class="list-group-item">@Html.DisplayNameFor(model => model.slider_sira)</li>



                        </ul>
                    </div>
                    <div class="col-md-8">
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item">@Html.DisplayFor(model => model.slider_url)</li>
                            <li class="list-group-item">@Html.DisplayFor(model => model.slider_sira)</li>


                        </ul>
                    </div>
                </div>

            </div>
        </div>
    </div>

    <br />


    <a href="~/sliders/Edit?id=@Html.DisplayFor(model => model.slider_id)" class="btn btn-success">Düzenle</a> <a href="index" class="btn btn-warning">Geri Git</a>

</div>

